GEO_data_sets:
  - GSE93606 #Host-Microbial interactions in Idiopathic Pulmonary Fibrosis
  - GSE38958 #Profiling of Gene Expression in Idiopathic Pulmonary Fibrosis
  - GSE28042 #Peripheral Blood Mononuclear Cell Gene Expression Profiles May Predict Poor Outcome in Idiopathic Pulmonary Fibrosis [Agilent]
  - GSE33566 #The Peripheral Blood Transcriptome Predicts the Presence and Extent of Disease in Idiopathic Pulmonary Fibrosis


